* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.App {
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: #faebed;
  height: 100vh;
  color: #663239;
}
h1 {
  margin-block: 30px;
}
img {
  margin-top: 30px;
  border-radius: 8px;
}
